$color-primary: #673ab7;
$color-primary-rgb-light: rgb(103 58 183 / 15%);

$color-success-light: #4CAF50;
$color-danger-light: #F44336;


$color-grapefruit-dark: #D94452;
$color-grapefruit-medium: #EC5564;
$color-grapefruit-light: #F76D82;

$color-bittersweet-dark: #E8563F;
$color-bittersweet-medium: #FB6D51;
$color-bittersweet-light: #FC8370;

$color-sunflower-dark: #F5BA45;
$color-sunflower-medium: #FECD57;
$color-sunflower-light: #FCD277;

$color-grass-dark: #8AC054;
$color-grass-medium: #9ED36A;
$color-grass-light: #B4E080;

$color-mint-dark: #35BB9B;
$color-mint-medium: #46CEAD;
$color-mint-light: #62DDBD;

$color-aqua-dark: #3AADD9;
$color-aqua-medium: #4FC0E8;
$color-aqua-light: #66D4F1;

$color-bluejeans-dark: #4B89DA;
$color-bluejeans-medium: #5E9CEA;
$color-bluejeans-light: #73B1F4;

$color-lavenders-dark: #967ADA;
$color-lavenders-medium: #AC92EA;
$color-lavenders-light: #B3A5EF;

$color-pink-dark: #D670AC;
$color-pink-medium: #EB87BF;
$color-pink-light: #F299CE;

$color-skintone-dark: #E4B693;
$color-skintone-medium: #F0C8A5;
$color-skintone-light: #F4D0B5;

$color-lightgray-dark: #CBD0D8;
$color-lightgray-medium: #E5E8EC;
$color-lightgray-light: #F4F6F9;

$color-darkgray-dark: #424953;
$color-darkgray-medium: #646C77;
$color-darkgray-light: #A9B1BC;

$shadow-main: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
$shadow-primary: 0 1px 2px 0 rgb(103 58 183 / 30%), 0 1px 3px 1px rgb(103 58 183 / 15%)
