<div class="card-month">
  <div class="month-name">{{monthName}}</div>
  <div class="days-name">
    <div class="day-name">Lun.</div>
    <div class="day-name">Mar.</div>
    <div class="day-name">Mar.</div>
    <div class="day-name">Jeu.</div>
    <div class="day-name">Ven.</div>
    <div class="day-name">Sam.</div>
    <div class="day-name">Dim.</div>
  </div>
  <div class="days-card">
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
    <app-presence-day></app-presence-day>
  </div>
</div>
