@import '../../../../../assets/scss/main';

.success {
  background-color: $color-success-light !important;
  color: #FFF !important;
}

.danger {
  background-color: $color-danger-light !important;
  color: #FFF !important;
}

.primary {
  background-color: $color-primary !important;
  color: #FFF !important;
}


